* {
    border-color: #fff !important;
	background-color: #000 !important;
	color: #FFF !important;
}
h1, h2, h3, h4, h5, h6 {
    background-color: transparent !important;
	color: #F00 !important;
}
div, input, button, span, i, s, blockquote, pre {
    background-color: transparent !important;
	color: #FFF !important;
}
a:active, a:link {
    background-color: transparent !important;
    color: #F00 !important;
}
a:visited {
    background-color: transparent !important;
    color: #666 !important;
}
a:hover {
    background-color: transparent !important;
    color: #FFF !important;
}
img { 
    background-color: transparent !important;
    opacity: .5 !important; 
}
img:hover {
    background-color: transparent !important;
    opacity: 1 !important; 
}
